**
!socializer-api/**
!radar/**
!socializer/**
!start.sh
!Dockerfile
!docker-compose-local.yml
!.env
!pyproject.toml
!README.md
!requirements.txt

# Re-ignore inside allowed folders
socializer-api/venv/**
socializer-api/.venv/**
socializer-api/__pycache__/**
socializer-api/node_modules/**
socializer/node_modules/**
radar/__pycache__/**
**/*.pyc
**/.DS_Store
**/node_modules/**
**/dist/**
**/build/**
*session/**
proxy_manager/**
logs/**
artifacts/**
downloads/**
temp/**
*.log
sqlite_db/**
socializer.sqlite
